* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;

  background-image: linear-gradient(
    to bottom,
    #fe1482,
    #ff277b,
    #ff3474,
    #ff406e,
    #ff4b68,
    #ff5461,
    #ff5d5b,
    #ff6655,
    #ff704c,
    #fd7b44,
    #fa863c,
    #f69035
  );
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 40vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* position: relative; */
}

.container {
  width: 358px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  text-align: center;
  color: var(--grey);

  border-radius: 20px;

  background-color: #202024;
}

.faixa {
  position: absolute;
  width: 64px;
  height: 158px;
  left: 47vw;
  top: 0px;

  background: linear-gradient(161.24deg, #ff008e -15.25%, #ffcd1e 111.89%);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quebra {
  position: absolute;
  width: 80px;
  height: 8px;
  left: 46vw;
  top: 156px;

  /* Neutral Colors/Grey/Grey 900 */

  background: #121214;
}

.githubLink:hover {
  transform: scale(1.1);
  color: white;
}

.avatar {
  width: 10rem;
  margin: 0 auto 0;
  padding-top: 4rem;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  padding-top: 4rem;

  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

li img {
  border-radius: 5px;
}

li img:hover {
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .faixa {
    left: 47vw;
  }

  .quebra {
    left: 46.2vw;
  }
}

@media (max-width: 750px) {
  .faixa {
    left: 46vw;
  }

  .quebra {
    left: 45vw;
  }
}

@media (max-width: 550px) {
  .faixa {
    left: 45vw;
  }

  .quebra {
    left: 43.7vw;
  }
}

@media (max-width: 400px) {
  .faixa {
    left: 44vw;
    height: 138px;
  }

  .quebra {
    left: 42vw;
    top: 136px;
  }

  .container {
    width: 320px;
    margin-top: 110px;
  }

  .avatar {
    width: 8rem;
    margin: 0 auto 0;
  }

  .avatar > img {
    width: 9rem;
    height: 11rem;
  }

  .container p {
    padding: 0 1rem 0;
  }

  ul {
    margin-top: 2rem;
  }
}

@media (max-width: 360px) {
  .container {
    margin-top: 70px;
  }

  .faixa {
    height: 98px;
  }

  .quebra {
    top: 96px;
  }
}
